{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <nav class="menu_nav">
        <div class="logo">
           <h1>РосТехАнгара</h1>
        </div>
        <div class="menu_list">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="block__header">
        Список комплектующих для семейства ракет-носителей "Ангара"
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>